.button {
    @include button(-4px,23px,20px,0px);
    &:hover,
    &:focus,
    &:active,
    &:visited {
        color: $white;
        border: 0px solid;
        background-color:#eb354e;
        transition: background-color 0.5s ease;
    }
    &.disable{
        background: $buttonInactive;
        cursor: pointer;
    }

}
