.list-cntr{
  display: inline-block;
  float: right;
  width: 70%;
  padding: 120px 10px 10px 0;
}
.card-cntr{
  width: 75%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  margin-bottom: 10px;
  .card-header{
    color: $broker-card-header;
    border-bottom: 1px solid #d1d1d1;
    background: #fafafa;
    padding: 10px;
    .main-head{
      font-weight: bold;
    }
    .sub-head{
      @extend %sub-heading;
    }
  }
  .rent-cntr{
    background: #fff;
    border-bottom: 1px solid #d1d1d1;
    .rent-info{
      display: inline-block;
      width: 32%;
      text-align: center;
      margin: 10px 0;
      border-right: 1px solid #e6e3e3;
      p{

        &:first-child{
          font-weight: 600;
          letter-spacing: 0.5px;

        }
        &:last-child{
          @extend %sub-heading;
        }
        color: $head;
      }
      &:last-child{
        border-right: 0px;
      }
    }
  }
  .flat-cntr{
    padding: 10px;
    background: #fff;
    img{
      display: inline-block;
      vertical-align: top;
      width: 37%;
      margin-right: 10px;
      height: 177px;
      border-radius: 2px;
    }
    .flat-cntr-info{
      display: inline-block;
      width: 58%;
      .table-cntr{
        width: 95%;
        border: 1px solid #d1d1d1;
        padding: 1px;
        table{
          border: 1px solid #d1d1d1;
          border-collapse: collapse;
          width: 100%;
          tr{
            td{
              font-size: 14px;
              color: $head;
              border: 1px solid #d1d1d1;
              padding: 20px 20px 20px 40px;

              &.furnishing{
                background:url(../../../images/listing-page-sprite_2.png) no-repeat;
                background-position: -17% 56%;
              }
              &.birthdate{
                background:url(../../../images/listing-page-sprite_2.png) no-repeat;
                background-position: -14px 0;
              }
              &.tenant{
                background:url(../../../images/tenant.png) no-repeat;
                background-position: 4% 50%;
              }
              &.availability{
                background:url(../../../images/key.png) no-repeat;
                background-position: 4% 50%;
              }
            }
          }
        }
      }
      .action-cntr{
        padding: 10px 0;
        .button{
          font-size: 1.3em;
          font-weight: 500;
          @include button(0,auto,40px,2px);
          &:hover{
            background-color:#eb354e;
          }
        }
      }
    }
  }
  &:hover{
    box-shadow: 0 0 10px #888;
    cursor: pointer;
    & >.card-header .main-head{
      color:#fd3753;
    }
  }
}

.loader{
  text-align: center;
  width: 75%;
  img{
    width: 40px;
  }
}

.no-results{
  height: 200px;
  background: #fff;
  position: relative;
  text-align: center;
  span{
    transform: translate(0, -50%);
    position: absolute;
    right: 45%;
    top: 50%;
    color: #707070;
  }
}
