.header-cntr{
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 10;
  img{
    padding: 0 20px;
  }
  .search-cntr{
    padding: 10px 60px;
    background: #fafafa;
    border-top: 1px solid #efd2d2;
    input{
      padding: 8px;
      width: 300px;
      font-size: 14px;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      border-radius: 2px;
      border: 1px solid #ccc;
      @include placeholder()
    }
  }
}

.loading{
  position: fixed;
  background: red;
  width: 100%;
  height: 15px;
  margin-top: 98px;
  -webkit-animation:linear infinite;
   -webkit-animation-name: run;
   -webkit-animation-duration: 2s;
}

//ANIMATION
@-webkit-keyframes run {
    0% { right: 100%;}
    50%{ right : 50%;}
    100%{ right: 0%;}
}
.hide{
  display: none;
}
#map{
  display: none;
}
