<div class="page-cntr">
  <div class="header-cntr">
      <img src="../images/nb_logo.png" />
      <div class="search-cntr">
        <input id="pac-input" type="text" placeholder="Search by Locality or Landmark" />
        <div class="button" id="search-location">
          Search
        </div>
        <div class="container" id="map" style="height:300px;"></div>

      </div>

  </div>

  <div class="loading hide">

  </div>
  <div class="filter-cntr" id="filter-cntr">

  </div>
  <div class="list-cntr" id="list-cntr">

  </div>
</div>
